<nav class="navbar">
  <div class="container-fluid">
    <div class="container d-flex">
      <a class="navbar-brand" routerLink="">
        <img src="assets/img/neutriTech-logo.png" alt="" width="90" class="d-inline-block align-text-top">
      </a>
      @if(authService.isLoggedIn()){
        <div class="d-flex justify-content-left mt-2">
            <a class="nav-link px-3" aria-current="page" routerLink="/welcome" routerLinkActive="active">Home</a>
            <a class="nav-link px-3" routerLink="/meals" routerLinkActive="active">Plan your meal</a>
        </div>
        <button class="btn btn-outline" type="submit" (click)="LogoutClick()">logout</button>
      }
    </div>
  </div>
</nav>
