<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center" id="hero-section">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 mb-4">
        <h3>Welcome to</h3>
        <h1>NutriTech</h1>
        <h3>Where Your Healthy Lifestyle Begins</h3>
      </div>

      <div class="col-3">
        <h4>New here?</h4>
        <button class="btn btn-alert mb-2" routerLink="/register">Register for free</button>
        <p class="p-sub">Register for free and dive into the full NutriTech experience, where meal planning is made simple and fun.</p>
      </div>
      <div class="col-3">
        <h4>Already have an account?</h4>
        <button class="btn btn-primary mb-2">Login</button>
        <p class="p-sub">Login and prep your personalized meal plan.</p>
      </div>
    </div>
  </div>
</div>
