#hero-section {
  position: relative;
  color: #272e5d;
  background-image: url("assets/img/background.jpeg");
  background-size: cover ;
  background-position: top center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  color: #5e935e;
}

h4 {
  font-size: 1rem;
}

.p-sub{
  color: dimgrey;
  font-style: italic;
  font-size: 12px;
}

.btn-primary {
  border-radius: 1rem;
  color: white;
  background-color: #5e935e;
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover {
  background-color: rgba(94, 147, 94, 0.62);
  border-color: transparent;
}

.btn-alert {
  border-radius: 1rem;
  color: white;
  background-color: #daa612;
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.footer{
  background-color: #5e935e;
  color: #fff;
  font-family: 'Satisfy', cursive;
}
.navbar{
  background-color: #5e935e;
  color: #fff;
  font-family: 'Satisfy', cursive;
}

.btn-outline{
  border-color: white;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

.d-flex {
  justify-content: space-between;
}
/*PASSWORD*/
.strength-bar {
  display: flex;
}

.strength-bar div {
  width: 20%;
  height: 10px;
  margin-right: 0.3rem;
  border-radius: 5px;
  background-color: #dfdddd;
}

.strength-bar div.filled {
  background-color: #5e935e;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Froms*/
.form-group {
  background-color: #f0f0f0;
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 2rem;
}

.form-group input {
  margin-bottom: 5px;
  width: 100%;
  max-width: 100px;
  border-bottom: #5e935e;
  border: none;
}
